.wrapper {
    width: 100%;
    height: var(--default-layout-header-hight);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 2.2rem;
    color: rgba(22, 24, 35, 1);
    padding: 4px 12px;
    cursor: pointer;

    .upload-icon {
        font-size: 1.6rem;
    }
}

.more-button {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.menu-item {
    width: 224px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
